<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <target xsi:type="File" name="filelog"
            fileName="${nlogdir}/teampilgrim.log" 
            archiveFileName="${nlogdir}/teampilgrim.{#####}.log"
            archiveAboveSize="102400"
            archiveNumbering="Sequence"
            maxArchiveFiles="3"
            layout="${longdate} ${threadid} ${logger:shortName=True} ${uppercase:${level}} ${message} ${onexception:inner=${newline}${exception:format=tostring}${newline}${stacktrace:format=detailedflat}}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="filelog" />
  </rules>
</nlog>